#look {
    color:rgb(255, 196, 0);
  }

/*header*/
.header{
    background-color:grey;
}
.title1{
    display:inline;
}
.title2{
    display:inline;
    color:black;
}
/*underline between title and text*/
hr { 
    display: block;
    margin-before: 0.5em;
    margin-after: 0.5em;
    margin-start: auto;
    margin-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

/*statement*/
.subtitle1{
    font-style: italic;
    color:rgb(228, 228, 228);
}

/*info*/
.info{
    font-weight: bold;
    color:rgb(255, 255, 255);
}

/*skills*/
.subtitle2{
    font-style: italic;
    font-weight: bold;
    color:rgb(255, 196, 0);
}
.skills{
    font-weight: bold;
    color:rgb(255, 255, 255);    
}

/*work experience*/
/*title*/
.workfont{
    background-color:rgb(243, 243, 243);
}
.title3{
    color:rgb(110, 110, 110);
}

/*company, work title, education*/
.jobprojectschool{
    font-size: 100%;
    color:rgb(0, 162, 255);
}
.period{
    font-size: 100%;
    font-style: italic;
    color:grey;
    display:inline; 
}
.location{
    margin-right:50px;
    float: right;
    font-size: 100%;
    font-style: italic;
    color:grey;
}

.task{
    font-size: 100%;
    color:black;
}

.degree{
    color:black;
}

.subject{
    color:black;
    font-style: italic;
}


/*map*/
#mapDiv {
    height: 400px;
    width: 100%;
    padding-bottom: 5%;
  }